<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    <div id="agendamentos"></div>
    <h2>Editar um agendamento</h2>
    <select id="agendamento-dropdown" name="Agendamento"></select> <br><br>
    
    <select name="situacoes" id="alterar-situacao"></select>
    <input type="submit" value="Enviar" onclick="editarAgendamento(true)"></input>

    <div id="editar-data">
    </div>
  
  </body>
  <script type="text/javascript" src="../javascript/agendamentos.js"></script>
</html>