<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title> Consulta Fácil </title>
    <link rel="stylesheet" href="..\assets\css\style2.css" />
    <link rel="stylesheet" href="..\assets\css\registration.css" />
</head>
<body>
	<div class="container">
		<header class="header-top">
			<div class="header-top-left">
				<a class="logo" href=""><img src=".\assets\images\image 2.png"></a>
				<span class="name-app-header"> Consulta Fácil </span>
			</div>
			<nav class="nav-top">
				<ul class="menu">
					<li><a href=""><span class="menu-itens menu-itens-left"> Início </span></a></li>
					<li><a href=""><span class="menu-itens menu-itens-left"> Atendimento </span></a></li>
					<li>
						<a href="">
							<span class="menu-itens menu-itens-right menu-item-right-top"> Login </span>
						</a>
						<a href="">
							<span class="menu-itens menu-itens-right menu-item-right-bottom"> Resultados <br> de Exames </span>	
						</a>
					</li>
				</ul>
			</nav>
		</header>
 
		<aside id="reg-aside">
			<!--FORMULÁRIO DE LOGIN-->
			<div id="reg-cli">
				<form id="" method="post" action="#"> 
					<h1 id="reg-title" >Seja um colaborador</h1>

					<p><input class="reg-field" id="reg-name-frm" name="" required="required" type="text" placeholder=" Nome completo"/></p>
					
					<p><input class="reg-field" id="email_login" name="email_login" required="required" type="text" placeholder=" Email"/></p>

					<p><input class="reg-field" id="" name="" required="required" type="text" placeholder=" Idade" /></p>
					
					<p><input class="reg-field" id="" name="" required="required" type="text" placeholder=" Área de Atuação" /></p>
					
					<p><input class="reg-field" id="" name="" required="required" type="text" placeholder=" CRM" /></p>

					<p><input class="reg-field" id="" name="" required="required" type="text" placeholder=" Anexe seu currículo" /></p>

					<p><input id="reg-button" type="submit" value="Enviar" onclick="return validar()"/></p>
				</form>
				<div class="reg-box-info">
					<div class="reg-msg-info">Iremos entrar em contato assim </br> que surgirem novas vagas</div>
				</div>
			</div>	
		</aside>
  		<main class="main">
		  <div class="main-itens">
		  	<p class="about">Sobre</p>
			<div class="main-reg-box-info">
				<div class="main-reg-msg-info">O consulta fácil é um sistema de auxílio à rede de postos
					de saúde públicos, visando diminuir filas e auxiliar a
					população para que não ocorram faltas, deixando o
					atendimento à população o mais eficiente possível. Aqui
					os usuários podem verificar os dados referentes a
					consultas e exames marcados como: qual a área médica
					da consulta, o médico que fará a consulta, o horário e dia
					da consulta.</div>
			</div>
		  </div>
		</main>
  		<footer class="footer">
			<div class="footer-left-itens">
				<nav class="">
					<ul class="menu-footer">
						<li><a href=""><span class="menu-footer-left"> Contato </span></a></li>
						<li><a href=""><span class="menu-footer-left"> Redes Sociais </span></a></li>
					</ul>
				</nav>
		  	</div>
		 	<div class="footer-right-itens">
				<a href="">
					<span class="menu-footer-right"> Unidades de Atendimento </span>
					<img src=".\assets\images\Polygon 1.png">
				</a>
		  	</div>	
		</footer>
	</div> 
</body>
</html>