<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title> Consulta Fácil </title>
    <link rel="stylesheet" href="../assets/style.css" />
	<script type="text/javascript" src="../javascript/elementChange.js"></script>
</head>
<body>
	<div class="container">
		<header class="header-top">
			<div class="header-top-left">
				<a class="logo" href=""><img src="./images/image 2.png"></a>
				<span class="name-app-header"> Consulta Fácil </span>
			</div>
			<nav class="nav-top">
				<ul class="menu">
					<li><a href=""><span class="menu-itens menu-itens-left"> Início </span></a></li>
					<li><a href=""><span class="menu-itens menu-itens-left"> Atendimento </span></a></li>
					<li>
						<a href="">
							<span class="menu-itens menu-itens-right menu-item-right-top"> Login </span>
						</a>
						<a href="">
							<span class="menu-itens menu-itens-right menu-item-right-bottom"> Resultados <br> de Exames </span>	
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<h1 style = "font-color: #0000FF"> Seja um Colaborador </h1>
		<form method = "POST">
			<input type = "name" width = "50px" border = "1px" placeholder = "Nome Completo" >

		  		<footer class="footer">
			<div class="footer-left-itens">
				<nav class="">
					<ul class="menu-footer">
						<li><a href=""><span class="menu-footer-left"> Contato </span></a></li>
						<li><a href=""><span class="menu-footer-left"> Redes Sociais </span></a></li>
					</ul>
				</nav>
		  	</div>
		 	<div class="footer-right-itens">
				<a href="">
					<span class="menu-footer-right"> Unidades de Atendimento </span>
					<img src="./images/Polygon 1.png">
				</a>
		  	</div>	
		</footer>
	</div> 
</body>
</html>